GEMINI_API_KEY=YOUR_GEMINI_API_KEY
ZAI_API_KEY=YOUR_ZAI_API_KEY
SUPABASE_URL=https://lsiybeghfxavoeykylmo.supabase.co
SUPABASE_KEY=sb_secret_LZuUqLTHAA_nEiWkJOU10g_q58m0DSz
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxzaXliZWdoZnhhdm9leWt5bG1vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1OTM3NDUsImV4cCI6MjA5MjE2OTc0NX0.FZUeNm1nktuwT1k1wud-q-EuAqngtMJL8XHjMiT7KuA